<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Early Detection of Chronic Kidney Disease using Machine Learning</title>
<link rel="stylesheet" href="static/style.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="/"><img src="static/images/images.png"></a>
            <div class="nav-links" id="navLinks">  
                <i class="fa fa-close" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about.html">ABOUT</a></li>
                    <li><a href="/Prediction">PREDICTION</a></li>
                    <li><a href="/result.html">RESULT</a></li>
                    <li><a href="/contact.html">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>   
            <h1>About Us</h1>
    </section>
    
    
<!------- about us content -------->
    
<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Chronic Kidney Disease using Machine Learning</h1>     
            <p>The only way to find out if people have CKD is through simple blood and urine tests. The blood test checks for the level of creatinine, a waste product produced by muscles,
                to see how well the kidneys work. The urine test checks for protein, which may indicate kidney damage.</p>
            <a href="https://www.youtube.com/c/EasyTutorialsVideo?sub_confirmation=1" class="hero-btn red-btn">EXPOLER NOW</a>
        </div>
        <div class="about-col">
            <img src="static/images/about1.jpg">
        </div>
    </div>    
</section>
    
<!-------- footer ---------->

<section class="footer">
        <h4>About Us</h4>
    <p>The only way to find out if people have CKD is through simple blood and urine tests. The blood test checks for the level of creatinine,</p>
           <p> a waste product produced by muscles, to see how well the kidneys work. The urine test checks for protein, which may indicate kidney damage.</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Made with <i class="fa fa-heart-o"></i> by PNT2022TMID01412</p>
</section>    
  
  
<!----JavaScript for toggle menu---->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script> 
    
</body>
</html>    